body {
  font-family: 'Arial', sans-serif;
  background: #f2f2f2;
  padding: 40px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 40px;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 7px;
}

.radio-group {
  margin-top: 15px;
}

button {
  margin-top: 30px;
  width: 100%;
  padding: 12px;
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
